
    <div class="product">
        <h2><%= product.title %></h2>
        <p><%= product.price %></p>
        <p><%= image_tag product.photo, width: 200 %></p>
        <%= link_to 'Visualziar', product_path(product.id) %>
    </div>
